div.bt{
    background-color: orange;
    margin: 50px;
    width: 150px;
    color: aqua;
    padding: 20px;
    font-size: 16pt;

    box-shadow: gray 10px 10px 10px;
transition: 0.8s
}
div.bt:hover{
    transform: translate(-10px ,-10px);
    box-shadow: gray 20px 20px 20px;
transition: 0.5s;

}

div.bt:active{
    transform: translate(5px 5px);
    box-shadow: gray 5px 5px 3px;
 transition: 0.5s   
}